 @import "../../styles/mixins.scss";
 @import "../../styles/variables.scss";

 .tips{

    &-container{
        @include flex-column;
        gap: $gap-base;
    }

    &-container__article{
        padding: $padding-elem;
    }

    ul{
        @include flex-column;
        list-style: square;
        gap: $gap-base;
    }
}