@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  };

  
@mixin ul-base {
    list-style: none;
    padding: 0;
    margin: 0
};


@mixin flex-column {
  display: flex;
  flex-direction: column;
}