@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  };

  
@mixin ul-base {
    list-style: none;
    padding: 0;
    margin: 0
};


@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin base-btn {
  border: $border-base;
  padding: $padding-elem;
  background: $primary-color;
  color: $text-light;
  font-size: large;
  border-radius: $radius-btn;
  border: none;
  margin: auto;

  &:hover{
    box-shadow: $shadow;
  }
}