@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.home {
  .ref {
    height: 90px;
  }

  &__starter {
    @include flex-column;
    position: relative;
    display: flex;
    height: 68vh;
    cursor: pointer;
    margin-top: 100px;

    &:hover {
      .home__starter--call {
        opacity: 0%;
      }

      img {
        margin-top: 50px;
        width: 400px;
        height: 350px;
      }
    }
    img {
      margin: 0 auto;
      width: 300px;
      height: 250px;
      transition: height 1s ease, width 1s ease, margin 1s ease;
    }

    &--call {
      cursor: pointer;
      padding: $padding-elem;
      @include flex-column;
      transition: opacity 1s ease;

      h1 {
        text-align: center;
      }

      .fa-arrow-down {
        margin: auto;
        margin-top: 30px;
        font-size: 50px;
        color: $primary-color;
      }
    }
  }

  &__content__sign {
    @include flex-column;
    gap: $gap-base;
    @include flex-row;
    justify-content: space-around;


    &--up,
    &--in {
      @include flex-column;
      width: 40%;
      margin-bottom: $padding-page;
      border: $border-base;
      padding: $padding-elem;
      h2 {
        margin: 0;
      }
    }
  }
}

.sign-btn {
  @include base-btn;
}

.home__content--beta{
  margin-bottom: $padding-page;

.beta__box--features{
  @include flex-row;
  justify-content: center;
  gap: $gap-base;
  ul{
    @include ul-base;
  }
}

.beta__box--inside{
  width: 45%;
  min-width: 250px;
  padding: $padding-elem;

  p{
    color: red;
    font-weight: 600;
  }
}

.beta__box--annoncement{
  p{
    color: red;
    font-weight: 600;
  }
  h2, p{
    text-align: center;
  }
}
}