@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.tasks {
  &__subtitle {
    margin-left: 20px;
  }

  form {
    @include flex-column;
    gap: $gap-base;
  }

  &-details__task {
    &--frequency,
    &--time {
      font-style: italic;
    }
  }

  &__divider {
    width: 80%;
    margin: $gap-base auto auto auto;
    height: 5px;
    background: $primary-color;
    border-radius: $radius-base;
  }

  .task-details__task {
    &--tools {
      ul {
        @include flex-row;
        @include ul-base;
        gap: $gap-base;

        li {
          background-color: $border-color;
          padding: $padding-btn;
          font-size: 15px;
          border-radius: $radius-base;
        }
      }
    }
  }
}

.task-details {
  @include flex-column;
  gap: $gap-base;
  &--block {
    @include flex-row;
    align-items: baseline;
    .task-details__task {
      &--heading {
        width: 45%;
        margin: 0;
        align-items: flex-start;
      }
      &--div-time {
        @include flex-row;
        gap: $gap-base;
        padding: $padding-btn;
        justify-content: space-between;
        width: 100%;

        .tasks-details__task--time,
        .task-details__task--frequency {
          margin: auto 0;
        }
      }
    }
  }
  &--equipment {
    font-weight: 700;
  }
}

.task-details__task {
  position: relative;
  border: 1px solid transparent;
  padding: $padding-elem;
  transition: background-color 1s;
  transition: border-radius 1s;


  &--description {
    margin: 20px 0;
    padding: $padding-page;
    font-style: italic;
    font-size: 15px;
    width: 80%;
  }

  &:hover {
    border: $border-base;
    background: $primary-opacity;
    border-radius: $radius-base;
  }
}

.tasks-done {
  &--none {
    font-style: italic;
    margin-left: 40px;
  }

  &__display{
    @include flex-row;
    gap: $gap-base;

    
    &--item {
      @include flex-column;
      min-width: 20%;
      max-width: 30%;
      min-height: 170px;
      background-color: $secondary-opacity;
      padding: $padding-elem;
      justify-content: space-around;
      p {
       
        
      }
    }

    &--name{
      font-size: 18px;
    }

    &--date{
      font-weight: 450;
    }
  }
}

.collapse{


.fa-trash,
.fa-check {

  right: 15px;
  cursor: pointer;
  padding: $padding-btn;
  color: $primary-color;

  &:hover {
    transform: scale(110%);
  }
}



.fa-check {
  top: 40%;
}
}