@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.task-theme{
    @include flex-row;
    margin-top: 55px;
    gap: $gap-base;
    justify-content: center;
    
    a{
        width: 35%;
        /*25% pour écran large*/
    }

    &__card{
        @include flex-column;
        height: 200px;
        border: $border-base;
        padding: $padding-elem;
        transition: box-shadow 1s;
        justify-content: space-between;

        &:hover{
            box-shadow:  10px 10px 25px -5px rgba(0,0,0,0.75);
            transform: scale(1.05);
        }

        &--title{
           font-weight: 700; 
           margin-top: 0;
           text-align: center;
        }

        img{
            height: 100px;
            width: 100px;
            margin: auto;
        }

        &--counter{
text-align: center;
        }
    }
}