@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.task {
  margin-top: $padding-page;


  &--title, &--subtitle{
    color: $primary-color;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 0;
  }

  &--subtitle{
    font-size: 17px;
  }

}
